body {
    margin: 0;
    background-color: #F5F6F6;
}

* {
    font-family: 'Noto Sans', sans-serif;
}

.grid_container {
    display: -ms-grid;
    display: grid;
    grid-gap: 0;
    -ms-grid-columns: 100%;
    -ms-grid-rows: 40px 100px 45px auto auto 100px;
    grid-template-rows: 40px 100px 45px auto auto 100px;

}

nav {
    -ms-grid-row: 1;
    grid-row: 1;
}

header {
    -ms-grid-row: 2;
    grid-row: 2;
}

.searchbar {
    -ms-grid-row: 3;
    grid-row: 3;
}

.banner {
    -ms-grid-row: 4;
    grid-row: 4;
}

.content {
    -ms-grid-row: 5;
    grid-row: 5;
}

footer{
    -ms-grid-row: 6;
    grid-row: 6;
}

p {
    margin: 0;
}

nav {
    background-color: #E6E6E6;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #676767;
    line-height: 20px;
    padding: 10px;
}

.active{
    color: #005B9B;
}

.banner {
    margin-top: 15px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 15px;
}

.banner img{
    width: 100%;
}

.logo {
    width: 50%;
    margin: 25px auto;
    text-align: center;
}
.logo img {
    width: 150px;
}

.searchbar {
    background-color: #676767;
}

.googlesearch {
    margin-right: 15px;
    float: right;
    width: 75%;
}

.gsc-control-cse {
    padding: 5px !important;
}

.portrait {
    display: block;
    height: 235px;
    width: 200px;
    margin: 15px auto;
}

.contenttxt, .infotxt {
    margin: 15px;
    padding: 15px;
    background-color: #ffffff;
}

footer {
    background-color: #E6E6E6;
    border-top: 1px solid #C2C2C2;
}

.contacts {
    padding: 15px;
    background-color:#868686;
    height: 80px;
    margin-top: 20px;
}

.error {
    color: rgb(179, 0, 0);
}



.pdf {
    display: block;
    height: auto;
    width: 200px;
    margin: 15px auto;
}


figcaption {
    text-align: center;
}

address {
    margin: 50px 15px;
}

.hidden {
    visibility: hidden;
    height: 10px;
}




@media only screen and (min-device-width : 600px){

.googlesearch {
    width: 50%;
}

.banner, .content {
    width: 600px;
    margin: 15px auto;
}

.contenttxt, .infotxt {
    margin: 0;
}

.leftcert {
    margin-top: 50px;
    float: left;
    width: 50%;
}

.rightcert {
    margin-top: 50px;
    float: right;
    width: 50%;
}

}



@media only screen and (min-device-width : 900px){

.googlesearch {
    width: 40%;
}

.portrait {
    box-sizing: border-box;
    float: left;
    height: 155px; 
    width: 130px;
    margin: 0;
}

.infotxt {
    box-sizing: border-box;
    float: right;
    width: 75%;
}

}



@media only screen and (min-device-width : 1200px){

.googlesearch {
    width: 30%;
}

.banner, .content  {
    width: 50%;
    margin: 15px auto;
}

}